* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body, section, main {
  height: 100%;
  overflow: hidden; }

body {
  font: 14px/1.5 cursive; }

a {
  text-decoration: none;
  color: #444; }

ul, li {
  list-style: none; }

section.hide {
  display: none; }

figure {
  width: 46vh;
  height: 46vh;
  background: url("") center center;
  background-size: cover; }

.area-bar {
  margin-top: 10vh;
  display: flex;
  align-items: center; }
  .area-bar .bar {
    position: relative;
    flex: 1;
    height: .8vh;
    border-radius: .2vh;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer; }
  .area-bar .current-time {
    width: 8vh;
    font-size: 2vh;
    margin-left: 1vh; }
  .area-bar .bar-progress {
    position: absolute;
    height: .8vh;
    width: 0%;
    transition: width .8s;
    background: white;
    border-radius: .2vh; }
