* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body, section, main {
  height: 100%;
  overflow: hidden; }

body {
  font: 14px/1.5 cursive; }

a {
  text-decoration: none;
  color: #444; }

ul, li {
  list-style: none; }

section.hide {
  display: none; }

figure {
  width: 46vh;
  height: 46vh;
  background: url("http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-middle") center center;
  background-size: cover; }
