#lockScreen .ct-wrapper {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; }
  #lockScreen .ct-wrapper figure {
    margin: 15vh auto; }

#lockScreen .details {
  height: 24vh;
  background: rgba(255, 255, 255, 0.2); }
  #lockScreen .details .area-bar {
    margin: 0 2vh 5vh 2vh; }
  #lockScreen .details h1 {
    margin-bottom: 2vh; }
