#lockScreen{ 
    .ct-wrapper{
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: white;
        figure{
            margin: 15vh auto;
        }
    }
}

#lockScreen .details{
    // border: 1px solid black;
    height: 24vh;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0px -.25vh .25vh .25vh rgba(255, 255, 255, .2);
    .area-bar{
        margin: 0 2vh 5vh 2vh;
    }
    h1{
        margin-bottom: 2vh;
    }
}


    